* {
    padding: 0;
    margin: 0;
}

html {
    position: relative;
    min-height: 100%;
}

body {
    padding: 0;
    margin: 0;
}

/* BODY */

.bg-gradient {
    background-color: #0067ac;
    height: 100%;
    background-repeat: no-repeat;
    background-size: cover;
}

/* NAVBAR */

.navbar-bs {
    box-shadow: 3px 3px 4px rgba(0, 0, 0, 0.2);
}

.navbar {
    background-color: #fff;
}

/* CONTENT */

.btn-bg-blue {
    color: #fff;
    background-color: #0067ac;
    border-color: #0067ac;
}

.btn-bg-blue:hover {
    color: #fff;
    background-color: #003d7c;
    border-color: #003d7c;
}

.container-card {
    margin-top: 60px;
}

.form-title {
    font-size: 22px;
    font-weight: 500;
    /* color: #0067ac; */
    color: #333;
    margin-bottom: 0;
}

.form-text {
    font-size: 15px;
}

.form-link {
    font-size: 15px;
    font-weight: 500;
    color: #0067ac;
}

.card-login-form {
    padding: 20px;
    width: 85%;
    max-width: 600px;
    margin: auto;
    border-radius: 4px;
}

.col-info {
    border-radius: 4px;
    padding: 20px;
}

.info-description {
    font-size: 24px;
    color: #fff;
    font-weight: 100;
    margin-bottom: 20px;
}

.container-img {
    position: relative;
}

.col-info img {
    border-radius: 4px;
    width: 100%;
    box-shadow: 3px 3px 4px rgba(0, 0, 0, 0.2);
}

#bannerCarousel {
    box-shadow: 3px 3px 4px rgba(0, 0, 0, 0.2);
}

.btn-informasi {
    width: 60px;
    border: 0px;
    position: absolute;
    bottom: 20px;
    right: 15px;
    background: #fff;
    color: #0067ac;
    font-weight: 500;
    border-radius: 4px;
    padding: 5px;
}

.btn-informasi a:hover, a:visited, a:link, a:active {
    text-decoration: none;
}

.btn-informasi:hover {
    color: #fff;
    background: #0067ac;
}

.col-form {
    padding: 20px;
}

label {
    font-size: 12px;
    color: #919191;
}

.container-col-form {
    margin: auto;
    width: 100%;
    max-width: 400px;
    padding: 20px;
    background: white;
    border-radius: 4px;
    box-shadow: 3px 3px 4px rgba(0, 0, 0, 0.2);
}

.col-form .text-forgot-pass a {
    font-size: 12px;
    color: gray;
    font-weight: 500;
}

.btn-login {
    font-size: 12px;
    font-weight: 500;
    background: #0067ac;
    border-radius: 4px;
}

.hr-white {
    border: 1px solid white;
}

/* FOOTER */

.footer {
    color: #fff;
    position: absolute;
    font-weight: normal;
    bottom: 0;
    background: #00a3e3;
    width: 100%;
    height: 60px;
    line-height: 60px;
    font-size: 13px;
}

@media (max-width: 575px) and (max-height: 1000px), (max-height: 647px) {
    .footer {
        position: relative;
    }
}

/* @media (max-height: 420px) {
    .footer {
        position: relative;
    }
} */