.navbar-logo {
    text-align: center;
    padding-top: 1rem;
    padding-bottom: 1rem;
}

.navbar-logo img {
    width: 60%;
}

.col.col-12.bg-red {
    background: #e74a3b;
}

.details {
    padding: 10px;
    margin-right: 10px;
}

.card-strata {
    width: 100%;
    min-height: 140px;
}

.card-strata a:hover, a:visited, a:link, a:active {
    text-decoration: none;
}

/* DROPDOWN ITEM ACTIVE */
.dropdown-item.active, .dropdown-item:active{
    background-color: #0067ac;
}

/* HR HEADLINE */

.headline {
    font-weight: 700;
    display: inline-block;
    padding-bottom: 5px;
    position: relative;
}

.headline:before {
    content: "";
    position: absolute;
    width: 30%;
    height: 1px;
    bottom: 0;
    left: 35%;
    border-bottom: 3px solid #0067ac;
}

/* FONT 13 */
.font-size-13{
    font-size: 13px;
}

/* ADMISSION CARD */

.card-over {
    overflow: auto;
}

.admission-card-item {
    max-width: 300px;
    min-height: 300px;
    min-width: 300px;
    margin-right: 20px;
    margin-bottom: 10px;
    border-radius: 4px;
    box-shadow: 3px 3px 4px rgba(0, 0, 0, 0.2);
}

.admission-id {
    font-size: 15px;
    /* color: #0067ac; */
}

.admission-detail {
    font-size: 13px;
}

.btn-admission-action {
    font-size: 15px;
    width: 100%;
    border-radius: 4px;
}

.btn-action-1 {
    background: transparent;
    color: #0067ac;
    border-color: #0067ac;
    font-weight: 700;
    font-size: 13px;
}

.btn-action-1:hover {
    background-color: #0067ac;
    color: #fff;
    border-color: #0067ac;
}

.btn-action-2 {
    color: #e74a3b;
    border-color: #e74a3b;
    font-weight: 700;
    font-size: 13px;
}

.btn-action-2:hover {
    background-color: #e74a3b;
    color: #fff;
    border-color: #e74a3b;
}

.badge-status {
    /* background-color: #0067ac; */
    border-radius: 4px;
    color: #0067ac;
    /* font-size: 13px; */
    padding: 2px;
}

.navbar-bg {
    background-color: #0067ac;
    background: linear-gradient(180deg, #0067ac 0%, #00a3e3 100%);
}

.btn-add-admission {
    border-radius: 4px;
    font-size: 13px;
    background-color: #0067ac;
    border-color: #0067ac;
    width: 100%;
    color: #fff;
    font-weight: 700;
}

.btn-add-admission:hover {
    color: #fff;
    background-color: #003d7c;
    border-color: #003d7c;
}

.card-border-left {
    border-left: .25rem solid #0067ac;
}

label {
    font-size: 12px;
    margin-bottom: 0;
}

.label-adm {
    font-weight: 700;
    margin-bottom: 0;
}

.text-radio label {
    font-size: 15px;
}

.tab-content {
    width: 100%;
}

.form-check label {
    font-size: 15px;
}

/* FORM INPUT */
.form-control:focus{
    background-color: #fff;
    border: 2px solid #00a3e3;
    border-radius: 4px;
    outline: 0;
    /* box-shadow: 0 0 0 0.2rem rgba(78,115,223,.25); */
    box-shadow: none;
}

.btn-bg-blue {
    font-size: 13px;
    font-weight: 700;
    color: #fff;
    background-color: #0067ac;
    border-color: #0067ac;
}

.btn-bg-blue:hover {
    color: #fff;
    background-color: #003d7c;
    border-color: #003d7c;
}

.bg-strata-1 {
    background-color: #2ab4c0;
}

.bg-strata-2 {
    background-color: #f2784b;
}

.bg-jalur-1 {
    background-color: #1BBC9B;
}

.bg-jalur-2 {
    background-color: #3faba4;
}

.bg-cyan {
    background-color: #36b9cc;
}

.btn-blue {
    font-weight: 700;
    background: #fff;
    color: #0067ac;
    border-color: #0067ac;
}

/* PROFILE NAV TABS */

.nav-tabs {
    overflow-x: auto;
    overflow-y: hidden;
    flex-wrap: nowrap;
}

#rowTab .nav-item:hover{
    background-color: #fff;
    border-radius: 4px;
}

.nav-tabs .nav-link {
    color: #5a5c69;
    white-space: nowrap;
    font-weight: 700;
    font-size: 13px;
}

.nav-tabs .nav-item {
    position: relative;
}

.nav-tabs .nav-link.active {
    color: #858796;
    color: #0067ac;
    background-color: transparent;
    border-color: transparent;
    /* border-bottom: 2px solid #0067ac; */
}

.text-black {
    color: black;
}

.text-blue {
    color: #0067ac;
}

.fa-times {
    color: red;
}

.btn-bg-blue .fa-plus {
    color: #fff;
}

.hidden {
    display: none;
}

/* PRODI */

/* SCROLL */

/* width */

::-webkit-scrollbar {
    width: 10px;
    height: 10px;
}

/* Track */

::-webkit-scrollbar-track {
    background: #f1f1f1;
}

/* Handle */

::-webkit-scrollbar-thumb {
    background: #0067ac;
    border-radius: 4px;
}

/* Handle on hover */

::-webkit-scrollbar-thumb:hover {
    background: #00a3e3;
}

#btn-pilihan-2:not([href]) {
    color: #fff;
}

@media (max-width: 444px) {
    .nav-tabs {
        display: -webkit-box;
    }
}